<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <internationaltelephoneinput>
            <general>
                <enabled>1</enabled>
                <initial_country></initial_country>
                <allowed_countries></allowed_countries>
                <preferred_countries></preferred_countries>
            </general>
        </internationaltelephoneinput>
    </default>
</config>